<!-- Footer -->
<footer class="font-small mdb-color pt-4 fixed-position">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Footer links -->
      <div class="row text-center text-md-left mt-3 pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Online Learning Courses</h6>
          <p>We are a web page in which anyone can distribute content as a teacher or student. 
              In order to distribute content as a teacher you have to meet certain requirements</p>
        </div>
        <!-- Grid column -->
  
        <hr class="w-100 clearfix d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Social Networks</h6>
          <p>
            <a href="#!">Twitter</a>
          </p>
          <p>
            <a href="#!">Facebook</a>
          </p>
          <p>
            <a href="#!">Instagram</a>
          </p>
          <p>
            <a href="#!">Telegrams</a>
          </p>
        </div>
        <!-- Grid column -->
  
        <hr class="w-100 clearfix d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
          <p>
            <a href="#!">Profile</a>
          </p>
          <p>
            <a href="#!">Contact us</a>
          </p>
          <p>
            <a href="#!">Courses Rates</a>
          </p>
          <p>
            <a href="#!">Help</a>
          </p>
        </div>
  
        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
          <p>
            <i class="fas fa-home mr-3"></i> IES Ingeniero de la cierva</p>
          <p>
            <i class="fas fa-envelope mr-3"></i> olc.contact.eu@gmail.com</p>
          <p>
            <i class="fas fa-phone mr-3"></i> +34 900 000 000</p>
          <p>
            <i class="fas fa-print mr-3"></i> +34 900 000 001</p>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Footer links -->
      <hr>
      <!-- Grid row -->
      <div class="row d-flex align-items-center">
  
        <!-- Grid column -->
        <div class="col-md-7 col-lg-8">
  
          <!--Copyright-->
          <p class="text-center text-md-left">© 2020 Copyright:
            <a href="#">
              <strong>Online Learning Courses</strong>
            </a>
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-5 col-lg-4 ml-lg-0">

        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
  </footer>
  <!-- Footer -->