<!--Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-colors lighten-1 mat-elevation-z3">
  <a routerLink="/home" class="navbar-brand anchor-non-selectable">OLC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link hover-colors" routerLink="/home" routerLinkActive>Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link hover-colors" routerLink="/news" routerLinkActive>News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link hover-colors" routerLink="/enrollment" routerLinkActive *ngIf="loginService.isAuthenticated()">Courses</a>
      </li>
      <li class="nav-item" *ngIf="loginService.isAuthenticated()">
        <a class="nav-link hover-colors" routerLink="/users" routerLinkActive>Users</a>
      </li>
      <li class="nav-item" *ngIf="loginService.isAuthenticated() && course !== null">
        <a *ngIf="course" class="nav-link hover-colors"
          [routerLink]="['/course', course?.id]" routerLinkActive>{{ course?.courseName}}</a>
      </li>
      <li class="nav-item" *ngIf="loginService.isAuthenticated() && isTeacher()">
        <a class="nav-link hover-colors" routerLink='/exam/creation' routerLinkActive>Exam Creation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link hover-colors" routerLink='/contact-us' routerLinkActive>Contact Us</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light">
          <i class="fas fa-envelope"></i>
        </a>
      </li>
      <div *ngIf="loginService.isAuthenticated()">
        <li class="nav-item avatar dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <img *ngIf="user?.photo" [src]="user?.photo" style="max-height: 50px;"
              class="rounded-circle img-fluid img-thumbnail" alt="avatar image">

            <img *ngIf="!user?.photo"
              src="https://firebasestorage.googleapis.com/v0/b/olc-imgs.appspot.com/o/images%2Fdefault.png?alt=media&token=05a496ca-1c9f-4d27-bd57-eca95fed766f"
              style="max-height: 50px;" class="rounded-circle img-fluid img-thumbnail" alt="avatar image">
          </a>
          <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary navbar-colors mat-elevation-z8"
            aria-labelledby="navbarDropdownMenuLink-55">
            <a class="dropdown-item link-colors hover-colors anchor-non-selectable"
              (click)="redirectToProfile()">Profile</a>
            <a class="dropdown-item link-colors hover-colors anchor-non-selectable" (click)="handleLogout()">Logout</a>
          </div>
        </li>
      </div>
    </ul>
    <div *ngIf="!loginService.isAuthenticated()">
      <button class="mat-raised-button btn-primary mx-3" routerLink="/login">Login</button>
      <button class="mat-raised-button btn-primary" routerLink="/register">Register</button>
    </div>
  </div>
</nav>
<!--/.Navbar -->