.navbar-colors {
  background-color: #3f51b5;
}

.link-colors {
  color: white;
}

.hover-colors:hover {
  background-color: #23338f;
}

.anchor-non-selectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
