<h3>Login</h3>
<form [formGroup]="form" class="py-5">
  <div>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        type="text"
        placeholder="Your Email *"
        formControlName="email"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        placeholder="Your Password *"
        formControlName="password"
      />
    </mat-form-field>
  </div>
  <div>
    <button
      mat-raised-button
      type="submit"
      color="primary"
      [mat-dialog-close]="true"
    >
      Login
    </button>
  </div>
  <div class="py-3">
    <a routerLink="/register" [mat-dialog-close]="false">Forget Password?</a>
  </div>
</form>
