<mat-card>
  <mat-card-header>
    <mat-card-title>OLC</mat-card-title>
    <mat-card-subtitle>Online Learning Course</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="d-flex justify-content-center">
      <img
        fxFlex
        mat-card-image
        src="assets/img/OLC.png"
        class="col-sm-4"
      />
    </div>
    <p>
      Welcome to the best online learning website. During this hard time we are
      going through you can keep learning with us. At the moment the available
      courses are "DAM" and "DAW".
    </p>
    <p>
      You can interact with your mentor, access each subject notes and be
      evaluated with test exams. See you in.
    </p>
  </mat-card-content>
</mat-card>
