<div class="py-3">
  <div class="mat-elevation-z3">
    <mat-tab-group animationDuration="500ms">
      <mat-tab label="Personal Information">
        <mat-card>
          <mat-card-title>
            <mat-card-content>
              <div class="row padding-row-fix-box">
                <div class="mx-auto">
                  <div class="mat-elevation-z1 padding-border-card">
                    <mat-card-content>
                      <form [formGroup]="form">
                        <div class="row mx-auto">
                          <div class="control-size-img">
                            <app-upload [userPhoto]="user" [seeUploadPhoto]="seePhotoButton"></app-upload>
                          </div>
                          <div
                            class="col-6 col-sm-6 col-xl-6 col-lg-6 col-6 mx-auto"
                          >
                            <mat-form-field class="margin-border-card">
                              <mat-label>Name</mat-label>
                              <input
                                matInput
                                type="text"
                                placeholder="Your Name *"
                                formControlName="nameUser"
                              />
                            </mat-form-field>
                            <mat-form-field class="margin-border-card">
                              <mat-label>Surname</mat-label>
                              <input
                                matInput
                                type="text"
                                placeholder="Your surname *"
                                formControlName="surName"
                              />
                            </mat-form-field>
                            <mat-form-field class="margin-border-card">
                              <mat-label>Email</mat-label>
                              <input
                                matInput
                                type="text"
                                placeholder="Your email *"
                                formControlName="email"
                              />
                            </mat-form-field>
                            <mat-form-field class="margin-border-card">
                              <mat-label>Password</mat-label>
                              <input
                                matInput
                                type="password"
                                required
                                minlength="6"
                                required
                                maxlength="25"
                                placeholder="Your password *"
                                formControlName="passwordUsr"
                              />
                            </mat-form-field>
                            <mat-form-field class="margin-border-card">
                              <mat-label>Date of birth</mat-label>
                              <input
                                matInput
                                type="text"
                                placeholder="Your Date of birth *"
                                formControlName="birthday"
                              />
                            </mat-form-field>
                          </div>
                        </div>
                      </form>
                    </mat-card-content>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card-title>
        </mat-card>
      </mat-tab>

      <mat-tab label="Personal Address">
        <mat-card>
          <mat-card-title>
            <mat-card-content>
              <div class="row padding-row-fix-box">
                <div class="mx-auto">
                  <div class="mat-elevation-z1 padding-border-card">
                    <mat-card-content>
                      <form [formGroup]="formAddress">
                        <div class="row mx-auto">
                          <div class="control-size-img">
                            <app-upload [userPhoto]="user" [seeUploadPhoto]="seePhotoButton"></app-upload>
                          </div>
                          <div
                            class="col col-sm-6 col-xl-6 col-lg-6 col-6 mx-auto"
                          >
                            <mat-form-field class="margin-border-card">
                              <mat-label>Street</mat-label>
                              <input
                                matInput
                                type="text"
                                placeholder="Your street *"
                                formControlName="street"
                              />
                            </mat-form-field>
                            <mat-form-field class="margin-border-card">
                              <mat-label>City</mat-label>
                              <input
                                matInput
                                type="text"
                                placeholder="Your city *"
                                formControlName="city"
                              />
                            </mat-form-field>
                            <mat-form-field class="margin-border-card">
                              <mat-label>Province</mat-label>
                              <input
                                matInput
                                type="text"
                                placeholder="Your province *"
                                formControlName="province"
                              />
                            </mat-form-field>
                            <mat-form-field class="margin-border-card">
                              <mat-label>Zip</mat-label>
                              <input
                                matInput
                                type="number"
                                placeholder="Your zip *"
                                formControlName="zip"
                              />
                            </mat-form-field>
                            <mat-form-field class="margin-border-card">
                              <mat-label>country</mat-label>
                              <input
                                matInput
                                type="text"
                                placeholder="Your country *"
                                formControlName="country"
                              />
                            </mat-form-field>
                          </div>
                        </div>
                      </form>
                    </mat-card-content>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card-title>
        </mat-card>
      </mat-tab>

      <mat-tab *ngIf="seeMarks" label="Marks Course">
        <mat-card>
          <mat-card-title>
            <mat-card-content>
              <app-marks-graph></app-marks-graph>
            </mat-card-content>
          </mat-card-title>
        </mat-card>
      </mat-tab>
      <mat-tab label="My Course">
        <mat-card>
          <mat-card-content>
            <mat-card>
              <mat-card-content>
                <mat-card-title class="text-decoration-green"
                  >Tutor: {{ mentor?.name || "Course has no mentor" }}
                  {{ mentor?.surName }}</mat-card-title
                >
                <div class="col-sm-6 text-format mx-4 padding-top-div row">
                  <p class="mx-4">Course name: {{ courseUsr?.courseName }}</p>
                  <p class="mx-4">Schedule: {{ courseUsr?.schedule }}</p>
                  <p class="mx-4">
                    Year Start: {{ courseUsr?.yearStart | date: "MM/dd/yy" }}
                  </p>
                  <p class="mx-4">
                    Year End: {{ courseUsr?.yearEnd | date: "MM/dd/yy" }}
                  </p>
                </div>
              </mat-card-content>
            </mat-card>
          </mat-card-content>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="mat-end-button">
    <button
      mat-raised-button
      color="primary"
      *ngIf="isUpdateProfile"
      [hidden]="!activatedEdit"
      class="hover-colors margin-border-card float-right"
      (click)="editProfile()"
    >
      Edit
    </button>
  </div>
  <div>
    <div class="mat-end-button">
      <button
        mat-raised-button
        color="primary"
        [hidden]="activatedEdit"
        [disabled]="!form.valid || !formAddress.valid"
        class="hover-colors margin-border-card float-right"
        (click)="updateProfile()"
      >
        Save
      </button>
    </div>
    <div class="mat-end-button">
      <button
        mat-raised-button
        color="warn"
        [hidden]="activatedEdit"
        class="hover-colors margin-border-card float-right"
        (click)="handleCancel()"
      >
        Cancel
      </button>
    </div>
  </div>
</div>
